@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
:root{
--background:#ffffff;
--color:#000;
--Main-font: "Kumbh Sans", sans-serif;
--box-shadow:rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
*{
     padding: 0;
     margin:0;
     box-sizing: border-box;
     font-family: var(--Main-font);
     box-sizing: border-box;
 }
 html{
     scroll-behavior: smooth;
     /* user-select: none; */
 }
 
 body{
     font-size:14px;/*font size of header*/
     background-color:var(--background);
     font-family:var(--Main-font);
     line-height:35px;
 }

 li , a{
     list-style: none;
     text-decoration: none;
     color:var(--color);
 }
 .headers{
     display: flex;
     justify-content: space-around;
     height:80px;
     align-items: center;
     margin-top:1.5em;
 
 }
 .logo{
     display: flex;
     align-items: center;
     transition:0.5s ease-in;
     opacity:1;
 }
 .headers img{
     width:50px;
 }
 .logo:hover{
     transform:scale(2.0);
 }
 .links ul{
     display: flex;
     gap:30px;
 }
 .links a{
     opacity:0.5;
 transition:0.5s;
 }
 .links a:hover{
     opacity:1;
     border-bottom:1px solid #000;
 }
 .allsection{
     padding:0px 2.5em;
     display: flex;
     flex-direction: column;
 }
 .bold{
     font-weight:500;
 }
 .section1{
     display: flex;
     text-align: center;
     margin-top:2em;
     width:100%;
     align-self: center;
  
 }
.authour{
     text-align:right;
     margin-right:2em;
      opacity:0.5;
      margin-top:0.8em; 
     font-size:0.8em;
}
 .quotespara p{
     font-size:2em;
     font-family: "Patrick Hand", cursive;
 }
 .section2{
     margin-top:3em;
     display:flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
 }
 .info{
     order:2;
    text-align:justify;

        margin-top:2em;

 }
 .profile{
     width:85%;
}
.profile img{
     border-radius:10px;
     width:100%;
     box-shadow:var(--box-shadow);
 
 }
 .info_sec1{
     display: flex;
     gap:10px;
     padding:20px 0px;
     font-size:1.5em;
     align-items: center;
     font-weight:500;
     justify-content: center;
 }
 .circle{
     width:20px;
     height:20px;
     background-color:yellow;
     border-radius:50%;
    align-self: flex-start; 
 }
 .pSec{
     font-size:1.2em;

 }

.space{
     padding:10px 0px;
}
.connect_btn{
     margin-top:2em;
     display:flex;
     align-items: center;
     justify-content: center;
     gap:10px;
}
.btnC{
     padding:15px 20px;
     background:#0e11d1;
     outline:none;
     border:none;
     color:#fff;
     border-radius:2px;
     transition:0.3s ease-in-out;
     border-radius:5px;
     font-weight:bold;
     font-size:1em;
    
}
.btnC:active{
     transform:scale(0.8);
}
.pSec2{
     font-size:1.5em;
}
.section3{
     margin-top:4em;
}
.div1{
     text-align: justify;
     margin-top:1.5em;
}
.skillset1{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.imgs{
     width:100%;

}
.imgs img{
    margin-top:1em;
width:100%;
border:var(--box-shadow);
border-radius:10px;;
}
.section4{
     margin-top:3em;
     display: flex;
     flex-direction:column;
     gap:10px;
}
.contme ul{
     display:flex;
     justify-content: flex-start;
     gap:20px;
     padding:0px 20px;
     transition:0.5s ease-in-out;
     margin-top:1em;
     padding-bottom:2em;
}
.contme ul a{
     font-size:1.5em;
}
.updateNotifi{
     margin-top:1.5em;
     background:rgb(175, 236, 84);
     padding:10px 20px;
     width:100%;

}
.icon{
    display: flex;
    gap:4px;
    align-items: center;
}
.blog{
    margin-top:4em;
}
.blogHeader{
    font-size:1.5em;
    font-weight:bold;
    background-color:beige;
    padding:0.5em;
    border-radius:8px;
    padding-left:2em;
    font-weight:500;
    color:rgb(0, 0, 24);
    width:100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Simple shadow */
    cursor:none;
}
.blog-wrap{
    margin-top:4em;
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:1.5em;
}

.blog-comp{
    background-color:rgb(233, 233, 181);
    padding:1em 2em;
    border-radius:9px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Simple shadow */

}
.blg{
    font-size:1.2em;
}
.blog-desc{
    opacity:0.8;
    font-weight:normal;
    text-align: justify;
    margin-top:0.5em;
}
.blog-link{
    font-size:1.3em;
    font-weight:normal;
    color:rgba(3, 3, 37, 0.849)
    
}
.blog-link a{
    color:blue;
}
.bg{
    background:rgb(6, 6, 58);
    color:#fff;
}

@keyframes textAnimation {
from{
    opacity:0;
    transform:translateY(200px);
}    
to{
    opacity:1;
    transform:translateY(0px);
}
}
@keyframes photoAnimation1{
    from{
        opacity:0;
        transform:translateX(5em);
    }    
    to{
        opacity:1;
        transform:translateX(0em);
    }
    }
    @keyframes photoAnimation2 {
        from{
            opacity:0;
            transform:translateX(-5em);
        }    
        to{
            opacity:1;
            transform:translateX(0em);
        }
        }
/* media queries */

 @media screen and (max-width:430px) {
    body{
        font-size:12px;
      
    }
    .btnC{
        padding:10px 20px;
    }
   
    
 }
 @media screen and (min-width:700px)  and (max-width:950px){
    body{
                font-size:16px;
              
    }
    .profile{
        width:50%;
    }
    .imgs{
        width:85%;
    }
    .section1{
        width:80%;
    }
    .info_sec1{
        justify-content:center;
    }
    .btnC{
        padding:15px 20px;
    }
    .connect_btn{
        justify-content:center;
    }
    .blog-wrap{
        grid-template-columns: repeat(2,1fr);
    }
.info_sec2{
    padding:0em 1em;
}


 }
 @media screen and (min-width:950px)  and (max-width:1200px){
    body{
        font-size:17px;

        
    }
    .section2{
        margin-top:15vh;
        flex-direction: row;
        justify-content:space-around;
    }
    .info{
        width:60%;
    }
    .profile{
        width:30%;
        order:2;
    }
    .imgs{
        width:40%;
    }
    .section1{
        margin:3em 0em;
        line-height:80px;
        margin-bottom:1.5em;
        width:80%;
    }
    .info_sec1{
        justify-content:flex-start;
    }
    .btnC{
        padding:15px 20px;
    }
    .connect_btn{
        justify-content:flex-start;
    }
    .blog-wrap{
        grid-template-columns: repeat(3,1fr);
    }
    .blogHeader{
        width:40%;
    }

 }

 @media screen and (min-width:1200px){
    body{
        /* background:blue; */
        font-size:18px;
    }
    .section2{
        margin-top:15vh;
        flex-direction: row;
        justify-content:space-around;
    }
    .info{
        width:50%;
    }
    .profile{
        width:40%;
        order:2;
    }
    .imgs{
        width:40%;
    }
    .section1{
        margin:5em 0em;
        line-height:90px;
        margin-bottom:1.5em;
        margin-top:5em;
        font-size:2em;
        width:80%;
    }
    .skillset1{
        flex-direction:row;
        justify-content:space-between;
        gap:30px;
    }
    .div1{
        width:60%;
    }
    .imgs{
        width:30%;
        margin-right:3em;
        align-items: center;
    }
    .two{
        order:2;
        margin-right:3em;
    }
    .section4{
        margin-top:3.5em;
    }
    .animateText{
        animation:textAnimation 3s ease-in-out both;
        animation-timeline:view();
        animation-range:entry 50% cover 40%;
    }
    .img1{
        animation:photoAnimation2 3s ease-in-out both;
        animation-timeline:view();
        animation-range:entry 50% cover 40%;
    }
    .img2,.profile img{
        animation:photoAnimation1 3s ease-in-out both;
        animation-timeline:view();
        animation-range:entry 50% cover 40%;
    }
    .info_sec1{
        justify-content:flex-start;
    }
    .btnC{
        padding:15px 20px;
    }
    .connect_btn{
        justify-content:flex-start;
    }
    .blog-wrap{
        grid-template-columns: repeat(3,1fr);
    }
    .blogHeader{
        width:30%;
    }
    
 }
 @media screen and (min-width:1500px){
    .info{
        padding:0em 2em;
    }
    .div1{
        padding:0em 3em;
    }
    .imgs{
        margin-right:4em;
    }
    .two1{
        margin-left:2em;
    }
    .blog-wrap{
        grid-template-columns:repeat(4,1fr);
    }

 }